/* Styles généraux */
#plateau-jeu {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(19, 30px);
    gap: 1px;
    background-color: #111;
}

.case {
    width: 30px;
    height: 30px;
    background-color: #222;
}

.case.active {
    background-color: red;
}

#score {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 10px 0;
}

#conteneur-jeu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#classement {
  margin-top: 20px;
  background: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  max-width: 250px;
}
